@import "native.js/main.css";
:root {
  
  --bg-color: gray;     
  --card__bg: #fff;    
}        

body{
    background-color: rgb(137, 217, 231);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.container {
    background-color: var(--card__bg);
    border-radius: 18px;  
    padding: 18px;
    box-shadow: 0 7px 3px gray;
}
.container > form {

  display: flex;
  flex-direction: column;
  gap: 10px;

}
h1 {

  text-align: center;
}

form div input, form div select, form div textarea{
    width: 100px;
    border-color: none;
}

button[type=submit] {
    background-color: var(--button-submit-bg);
    margin-top: 20px;
    padding: 5px;
    background-color: var(--button__bg);  
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer; 
}
button[type=submit]:hover {
  background-color: rgb(25, 108, 163); 
  cursor: pointer;
}
